.fixed {
  .column-title {
    width: 40%;
  }

  .column-preacher, .column-preached {
    width: 10%;
  }

  .column-series, .column-topics {
    width: 15%;
  }

  .column-views {
    width: 7%;
  }
}