.wp-heading-inline {
  margin-bottom: 5px;
}

.settings-main {
  display: flex;
  margin-top: 5px;
}

.settings-content {
  width: 100%;

  //noinspection SpellCheckingInspection
  #mainform {
    border: 1px solid #e8e8e8;
  }

  span.description {
    display: block;
    margin-top: 5px;
  }

  input[type=text], input[type=email] {
    width: 100%;
    max-width: 400px;
  }

  .sm-nav-tab-wrapper {
    background: white;
    padding: 0;
    border-bottom: 1px solid #e8e8e8;

    .nav-tab {
      float: none;
      border: none;
      margin: 0;
      padding: 20px 20px;
      display: inline-block;
      background: none;
      font-weight: normal;
      color: #666;
      font-size: 13px;

      &:hover, &:active, &:focus {
        border-bottom: 2px solid #ccc;
        outline: none;
        box-shadow: none;
      }
    }

    .nav-tab-active, .nav-tab-active:focus, .nav-tab-active:focus:active, .nav-tab-active:hover {
      border-bottom: 2px solid #4abcf0;
    }
  }

  .inside {
    padding: .2rem 1rem .01rem 1rem;
    background: white;
  }
}

.settings-side {
  width: 30%;
  max-width: 300px;
  margin-left: 1rem;

  .sm-box {
    h3 {
      margin-left: .8rem;
    }

    .description {
      text-align: center;
      font-size: 0.85em;
      padding: 0.4rem 0 0
    }

    ol {
      list-style-type: circle;
    }
  }
}