/*
Error: File to import not found or unreadable: add-edit-sermon.
        on line 18 of admin.scss

13:   @import 'import-export';
14: }
15: 
16: // add/edit sermon page
17: body.post-php.post-type-wpfc_sermon {
18:   @import 'add-edit-sermon';
19: }

Backtrace:
admin.scss:18
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/import_node.rb:44:in `import'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:108:in `rescue in invalid_import_parent?'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:101:in `invalid_import_parent?'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:171:in `try_send'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:14:in `visit'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:38:in `visit'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:59:in `visit_root'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:24:in `visit'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/root_node.rb:35:in `css_tree'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/exec/base.rb:52:in `parse'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/lib/sass/exec/base.rb:19:in `parse!'
/home/nikola/.gem/ruby/2.4.0/gems/sass-3.5.1/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: add-edit-sermon.\A         on line 18 of admin.scss\A \A 13:   @import 'import-export';\A 14: }\A 15: \A 16: // add/edit sermon page\A 17: body.post-php.post-type-wpfc_sermon {\A 18:   @import 'add-edit-sermon';\A 19: }"; }
