.import-note {
  display: none;
  color: rgba(0, 0, 0, 0.5);
}

.plugin-card-top:hover .import-note {
  display: block;
}

.plugin-icon {
  font-size: 5rem;
  color: #656565;
}

.column-description ul {
  list-style: initial !important;
  margin-top: 0;
  margin-left: 1.5rem;
}

.wp-list-table {
  overflow: hidden;
  height: 100%;
}