.single .single-navigation, .single .fusion-meta-info, .single .fusion-sharing-box, .single .about-author {
    display: none;
}

.sm-filtering .avada-select-parent select {
    min-width: auto;
}

.smpro-items-container article {
	margin-bottom: 30px;
}