.wpfc-twentyfifteen #wpfc_sermon_sorting {
    margin-left: 8.3333%;
    margin-right: 8.3333%;
}

.wpfc-twentyfifteen .wpfc-sermon-single-image {
    margin: 0;
}

.wpfc-twentyfifteen .wpfc-sermon-single-main {
    padding: 10%;
}

.wpfc-twentyfifteen .hentry {
    padding-top: 0;
}
